*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: skyblue;
}

#container{
  background-color: aquamarine;
  border-radius: 1rem;
  padding: 2rem;
  min-height: 60vh;
  width: 45vh;
}

form{
  margin: 3rem 0 1rem 0;
}

form,select,input,button{
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input{
  border: 3px solid grey;
  font-size: 1rem;
  height: 2rem;
  padding-left: 1rem;
}

#dropDown{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
  
}
#dropDown i {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.select-container img{
  max-width: 2rem;

}

.select-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border: 3px solid grey; ;
  border-radius: 0.75rem;
  padding: 0.5rem;
}

select{
  font-size: 1.2rem;
  background-color: transparent;
}

.msg{
  margin: 2rem 0 2rem 0;
  font-size: 1.5rem;
}

.btn{
  height: 2rem;
  background-color: burlywood;
  color: white;
  font-size: 1.15rem;
  cursor: pointer;
}